.DS_Store
node_modules
.worktrees
.sst
.env
.idea
.vscode
.codex
*~
playground
tmp
dist
ts-dist
.turbo
**/.serena
.serena/
/result
refs
Session.vim
/opencode.json
a.out
target
.scripts
.direnv/
packages/desktop-lxz/signing.local.env
packages/desktop-lxz/*.p12
packages/desktop-lxz/*.pfx

# Local dev files
opencode-dev
UPCOMING_CHANGELOG.md
logs/
*.bun-build
tsconfig.tsbuildinfo
